@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;400;600&family=Inter:wght@500&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  background-color: #111111; 
  color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #fff;
}