.btn-yellow {
  background-color: #FFD166;
  padding: 15px 30px;
  border-radius: 0;
  color: #000;
  font-weight: lighter;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 10px;
}

.btn-yellow:hover {
  background-color: #FFC43A;
}
